@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0 auto;
  font-family: 'Permanent Marker';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 500px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style-type: none;
}

h2 {
  font-size: 32px;
  color: rgb(39, 119, 240);
  text-shadow: 3px 3px 0px rgb(222, 168, 4);
}
